@page "/blockcorewallet"
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime;

<PageTitle>Blockcore Wallet</PageTitle>

<style>
    h1 {
        color: #333;
    }

    p {
        color: #555;
        margin-bottom: 10px;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
    }

        button:hover {
            background-color: #0056b3;
        }

    .wallet-button {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
    }

    .wallet-container {
         margin-top: 10px;
        padding: 10px;
    }
</style>

<h1>Blockcore Wallet!</h1>

@if (!HasBlockcoreWallet)
{
    <p>No Blockcore Wallet detected. Please install <a href="https://chrome.google.com/webstore/detail/blockcore-wallet/peigonhbenoefaeplkpalmafieegnapj" target="_blank" class="wallet-link">Blockcore Wallet</a>.</p>
}
else
{
    <button class="wallet-button" @onclick="@(() => SignMessage("message"))">Ask for Signing (Message)</button>
     <div class="wallet-container">
        <p>@SignedMessage</p>
    </div>

 
    <button class="wallet-button" @onclick="@(() => SignMessageAnyAccount("message"))">Signing (text)</button>
     <div class="wallet-container">
        <p>@SignedMessageAnyAccount</p>
    </div>

 
    <button class="wallet-button" @onclick="@(() => SignMessageAnyAccountJson("{ \"id\": 5, \"text\": \"Hello World\" }"))">Signing (Json)</button>
     <div class="wallet-container">
        <p>@SignedMessageAnyAccountJson</p>
    </div>

 
    <button class="wallet-button" @onclick="@(() => PaymentRequest("BTC","2"))">Payment Request</button>
     <div class="wallet-container">
        <p>@PaymentRequestResult</p>
    </div>

 
    <button class="wallet-button" @onclick="@(() => DIDSupportedMethods())">Supported DID Methods</button>
     <div class="wallet-container">
        <p>@DIDSupportedMethodsResult</p>
    </div>

 
    <button class="wallet-button" @onclick="@(() => DIDRequest(@arr))">Select DID Request</button>
     <div class="wallet-container">
        <p>@DIDRequestResult</p>
    </div>
}
